.new-todo-form {
    margin: 0 auto;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
    margin-bottom: 35px;
}

.new-todo-input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 70%;
    outline: none;
    background-color: #ddd;
}

.new-todo-button {

    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    width: 20%;
    background-color: #22ee22;
    font-size: min(14px, 2vw);
}

.new-todo-button:hover {
    background-color: #ddd;
    border: 3px solid #22ee22;

}